{% extends 'base.html' %}

{% block header %}
<div class="bar bar-standard bar-header-secondary">
<div class="segmented-control">
  <a class="control-item active" href="#map">
    Carte
  </a>
  <a class="control-item" href="#list">
    Liste
  </a>
  <a class="control-item" href="#me">
    Mon parcours
  </a>
</div>
</div>
{% endblock %}

{% block content %}
<div>
  <span id="map" class="control-content active">
        <iframe width='100%' height='700px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/powershops.k9bpc33d/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoicG93ZXJzaG9wcyIsImEiOiJhYUdRR0t3In0.oTz8RJqED2YEcDRfJYNAOQ'></iframe>
</span>
  <span id="list" class="control-content">
<ul class="table-view">
{% for item in "Station d'epuration","Centre d'ordonnencement","Barrage" %}
  <li class="table-view-cell media">
    <a class="navigate-right" href="point.html">
      <img class="media-object pull-left" src="http://placehold.it/42x42/e2dbbe">
      <div class="media-body">
        {{ item }}
        <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. lorem ipsum dolor sit amet.</p>
      </div>
    </a>
  </li>
{% endfor %}
</span>
  <span id="me" class="control-content">

</span>
</div>
{% endblock %}
