{% extends 'base.html' %}

{% block header %}
{{ super() }}
<div class="bar bar-standard bar-header-secondary">
<div class="segmented-control">
  <a class="control-item active" href="#map">
    Carte
  </a>
  <a class="control-item" href="#list">
    Liste
  </a>
  <a class="control-item" href="#me">
    Mon parcours
  </a>
</div>
</div>
{% endblock %}

{% block content %}
<div>
  <span id="map" class="control-content active">
        <iframe width='100%' height='700px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/powershops.k9bpc33d/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoicG93ZXJzaG9wcyIsImEiOiJhYUdRR0t3In0.oTz8RJqED2YEcDRfJYNAOQ'></iframe>
</span>


  <span id="list" class="control-content">
<ul class="table-view">
{% for item in "Station d'epuration","Etang rossignol" %}
  <li class="table-view-cell media">
    <a class="navigate-right" href="point.html?id=1">
      <img class="media-object pull-left" src="http://placehold.it/42x42/e2dbbe">
      <div class="media-body">
        {{ item }}
        <p>lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore. lorem ipsum dolor sit amet.</p>
      </div>
    </a>
  </li>
{% endfor %}
</ul>

<ul class="table-view">
  <li class="table-view-cell media">
    <a class="navigate-right" href="point.html?id=2">
      <img class="media-object pull-left" src="http://placehold.it/42x42/e2dbbe">
      <div class="media-body">
        Centre d'innovation
        <p>Le centre d’innovation occupe une surface de 5 000 m². Ce nouveau bâtiment présente de larges baies vitrées surmontées par des longs panneaux de bois. A l’intérieur, les installations n’ont rien à envier à celles du siège californien d’un célèbre moteur de recherche....</p>
      </div>
    </a>
  </li>
</ul>

<ul class="table-view">
  <li class="table-view-cell media">
    <a class="navigate-right" href="point.html?id=3">
      <img class="media-object pull-left" src="http://placehold.it/42x42/e2dbbe">
      <div class="media-body">
        Pont Neuf
        <p>L’année 2010 a vu d’importants chantiers de voirie et le début de la
        construction du Pont neuf....</p>
      </div>
    </a>
  </li>
</ul>

</span>


  <span id="me" class="control-content">
<ul class="table-view">
  <li class="table-view-cell media">
    <a class="navigate-right" href="badges.html">
      <div class="media-body">
        Badges
        <span class="badge">5</span>
      </div>
    </a>
  </li>
  <li class="table-view-cell media">
    <a class="navigate-right">
      <span class="media-object pull-left icon icon-pages"></span>
      <div class="media-body">
        Filtrer
      </div>
    </a>
  </li>
  <li class="table-view-cell">
    Notifications
    <div class="toggle">
      <div class="toggle-handle"></div>
    </div>
  </li>
</ul>

</span>
</div>
{% endblock %}
